* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('./assets/images/background-desktop.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    min-height: 100vh;
    width: 100vw;
}

.lines-background {
    position: fixed;
    z-index: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 10px;
}