@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

:root {
    --neutral_0: hsl(0, 0%, 100%);;
    --neutral_300: hsl(252, 6%, 83%);
    --neutral_500: hsl(245, 15%, 58%);
    --neutral_700: hsl(245, 19%, 35%);
    --neutral_900: hsl(248, 70%, 10%);
    --orange_500: hsl(7, 88%, 67%);
    --orange_700: hsl(7, 71%, 60%);
    --gradient_text: hsl(7, 86%, 67%) to hsl(0, 0%, 100%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    align-items: start;
    background-image: url('./assets/images/background-desktop.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--neutral_0);
    display: flex;
    justify-content: center;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    margin: 0;
    min-height: 100vh;
    width: 100%;
}

.lines-background {
    max-height: 100vh;
    position: fixed;
    z-index: -1;
}

.backgrund-circles {
    position: absolute;
    z-index: 0;
}

.lines-background {
    position: absolute;
    z-index: 0;
}

#circle-top {
    left: 5%;
    top: -120px;
}

#circle-bottom {
    bottom: 25%;
    right: 20%;
}

#line-bottom {
    bottom: 0px;
    left: 0px;
}

#line-top {
    top: 5%;
    right: 0px;
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    max-width: 800px;
    margin-top: 30px;
    position: relative;
    z-index: 1;
}

header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    text-align: center;
}

header h1 {
    font-size: 44px;
    font-weight: 700;
}

header p {
    color: var(--neutral_300);
    font-size: 18px;
    font-weight: 400;
}

form {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 200;
    gap: 22px;
    width: 60%;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.drop-zone {
    align-items: center;
    background-color: rgba(255, 255, 255, 0.15);
    border: 2px var(--neutral_300) dashed;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 120px;
    gap: 20px;
    padding: 10px;
    transition: background-color 0.3s ease-in;
    width: 100%;
}

.drop-zone:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.drop-zone img {
    background-color: rgba(255, 255, 255, 0.3);
    border: 2px var(--neutral_0) solid;
    border-radius: 10px;
    cursor: pointer;
    max-height: 44px;
    max-width: 44px;
    padding: 5px;
}

.rmv-chng-btn {
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 8px;
    color: var(--neutral_0);
    font-size: 12px;
    font-weight: 200;
    padding: 5px;
}

.rmv-chng-btn:hover {
    text-decoration: underline;
}

.rmv-chng-btn:active {
    box-shadow: 
        0px 0px 0px 2px var(--neutral_900),
        0px 0px 0px 3px rgba(255, 255, 255, 0.9);
    
}

.file-info {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    font-weight: 100;
    justify-content: flex-start;
    gap: 8px;
}

.file-info.error {
    color: red;
}

.file-info.error img {
    filter: brightness(0) saturate(100%) invert(23%) sepia(94%) saturate(7438%) hue-rotate(353deg) brightness(92%) contrast(117%);
}

.img-label {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input input[type="text"] {
    background-color: rgba(255, 255, 255, 0.15);
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 12px;
    color: var(--neutral_0);
    transition: background-color 0.3s ease-in;
    padding: 12px;
}

.input input[type="text"]:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.input input[type="text"]:focus {
    box-shadow: 
        0px 0px 0px 2px var(--neutral_900),
        0px 0px 0px 3px rgba(255, 255, 255, 0.9);
    outline: none;
}

.submit-btn {
    background-color: var(--orange_500);
    border-radius: 10px;
    border: none;
    color: var(--neutral_900);
    font-weight: 700;
    padding: 12px 0;
    transition: background-color 0.3s ease-in;
}

.submit-btn:hover {
    background-color: var(--orange_700);
}

.submit-btn:active {
    box-shadow: 
        0px 0px 0px 2px var(--neutral_900),
        0px 0px 0px 3px rgba(255, 255, 255, 0.9);
}

.hidden {
    display: none;
}